*,
::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Kufi Arabic", sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .selects {
      display: flex;
      gap: 20px;
      flex-direction: row-reverse;
      .select-wrapper {
        display: flex;
        gap: 10px;
        select {
          padding: 4px 8px;
          // border: 0;
        }
      }
    }
    .start-but {
      width: 100%;
      padding: 8px;
      border: 0;
      outline: none;
      background-color: #bc4749;
      color: #f2e8cf;
      cursor: pointer;
    }
  }
  .quiz-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap: 10px;
    .buttons {
      display: flex;
      justify-content: space-between;
    }
    .but {
      align-self: flex-start;
      padding: 6px 4px;
      width: 100px;
      border: 0;
      outline: none;
      background-color: #bc4749;
      color: white;
      cursor: pointer;
      border-radius: 20px;
      &.back-but {
        background-color: #f2e8cf;
        color: #bc4749;
      }
      &.hint-but {
        background-color: #2176aea0;
        color: #e8ebf7;
        align-self: flex-end;
      }
    }
  }
}
